body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-msg {
    color: #ff5500;
    padding-left: 10px;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10% !important;
}


.fixed-header.am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content{
    padding: 45px 5px;
}


.stick-footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
}

#chat-page{
    padding-bottom: 200px;
}

#chat-page .chat-me .am-list-extra{
   flex-basis:auto ;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}

#chat-page .am-grid-icon{
    display: none;
}

#chat-page .am-grid-text{
    margin-top: 0;
}

.am-grid{
    background: #fff;
}
